absl-py==0.11.0
altgraph==0.17
appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.3.1
astroid==2.4.2
astunparse==1.6.3
async-generator==1.10
attrs==21.2.0
auto-py-to-exe==2.8.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.3.0
bottle==0.12.19
bottle-websocket==0.2.9
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
collections-extended==1.0.3
colorama==0.4.4
comtypes==1.1.10
cycler==0.10.0
decorator==5.0.9
defusedxml==0.7.1
distlib==0.3.1
Django==3.1.7
Eel==0.12.4
entrypoints==0.3
filelock==3.0.12
Flask==1.1.2
Flask-SQLAlchemy==2.4.4
flatbuffers==1.12
future==0.18.2
gast==0.3.3
gevent==21.1.2
gevent-websocket==0.10.1
google-auth==1.27.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
goto-statement==1.2
greenlet==1.0.0
grpcio==1.32.0
h5py==2.10.0
idna==2.10
ipykernel==5.5.5
ipython==7.23.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
isort==5.6.4
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.2
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.4
matplotlib-inline==0.1.2
mccabe==0.6.1
mistune==0.8.4
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.4.0
numpy==1.19.5
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.9
pandas==1.2.4
pandocfilters==1.4.3
parso==0.8.2
pefile==2019.4.18
pickleshare==0.7.5
Pillow==8.1.1
prometheus-client==0.10.1
prompt-toolkit==3.0.18
protobuf==3.15.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio @ file:///C:/Python/Python38/Scripts/PyAudio-0.2.11-cp38-cp38-win_amd64.whl
pycparser==2.20
Pygments==2.9.0
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pylint==2.6.0
pymongo==3.11.4
pyparsing==2.4.7
pypiwin32==223
pyrsistent==0.17.3
python-dateutil==2.8.1
pyttsx3==2.90
pytz==2021.1
pywin32==300
pywin32-ctypes==0.2.0
pywinpty==1.1.1
pyzmq==22.0.3
qtconsole==5.1.1
QtPy==1.9.0
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.6.1
Send2Trash==1.5.0
simplejson==3.17.2
six==1.15.0
sklearn==0.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
SQLAlchemy==1.3.22
sqlparse==0.4.1
tabulate==0.8.7
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.10.0
testpath==0.5.0
threadpoolctl==2.2.0
toml==0.10.2
tornado==6.1
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.26.3
virtualenv==20.4.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
whichcraft==0.6.1
widgetsnbextension==3.5.1
wikipedia==1.4.0
win10toast==0.9
wrapt==1.12.1
zope.event==4.5.0
zope.interface==5.4.0
